.details-container {
  max-width: 600px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #f9f9f9;
  padding: 10px 30px 20px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background: linear-gradient(90deg, rgba(62,62,65,1) 20%, rgba(108,106,106,1) 100%, rgba(167,167,167,0.5) 100%);
  color: white;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border: none;
}

button:hover {
  background: white;
  color: black;
}
